@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  /* Neutral */
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
}
ul {
  list-style-type: none;
  font-size: 18px;
}
p {
  font-weight: 300;
}
body {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  background-color: var(--main-bg);
  color: hsl(0, 0%, 100%, 60%);
  padding: 1.25rem;
}

.container {
  padding: 1.25rem;
  background-color: var(--card-bg);
  border-radius: 0.5rem; 
  
}
.container .main-image{
    position: relative;
}

.container .main-image div{
    position: absolute;
    top:0;
    background-color: hsl(178, 100%, 50%,75%);
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0;
    transition:all 0.2s ease;
}
.container .main-image div:hover{
    opacity: 1;
    cursor:pointer;
}
.container .main-image div img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container h2 {
  color: var(--white);
  margin: 1rem 0 0.5rem 0;
}
.container h2:hover{
    color:var(--cyan);
    cursor:pointer;
}

.container ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid var(--line);
}

.container ul li:first-child {
  color: var(--cyan);
}

.container ul li {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.container .avatar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2rem;
}
.container .avatar img {
  width: 3.5rem;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 1rem;
}
.container .avatar p span {
  color: var(--white);
  font-weight: 400;
  transition: all 0.4s ease;

}
.container .avatar p span:hover{
    color:var(--cyan);
    cursor:pointer;
}

@media (min-width:450px){
    .container{
        width:540px;
        margin:auto;
    }
}